<h2>Character Details</h2>
<div *ngIf="character">
	<div>
		<label for="name">Character Name</label>
		<p id="name">{{ character.name }}</p>
	</div>
	<div>
		<label for="class">Class</label>
		<p id="class">{{ character.className }}</p>
	</div>
	<div>
		<label for="level">Level</label>
		<p id="level">{{ character.level }}</p>
	</div>
	<div>
		<label for="background">Background</label>
		<p id="background">{{ character.background }}</p>
	</div>
	<div>
		<label for="playerName">Player Name</label>
		<p id="playerName">{{ character.playerName }}</p>
	</div>
	<div>
		<label for="race">Race</label>
		<p id="race">{{ character.race }}</p>
	</div>
	<div>
		<label for="alignment">Alignment</label>
		<p id="alignment">{{ character.alignmentName }}</p>
	</div>
	<div>
		<label for="xp">Experience Points</label>
		<p id="xp">{{ character.xp }}</p>
	</div>
</div>
