<div *ngIf="personality && !isEditing">
	<h2>Personality</h2>
	<div>
		<label>Personality traits</label>
		<p>{{ personality.traits }}</p>
	</div>

	<div>
		<label>Ideals</label>
		<p>{{ personality.ideals }}</p>
	</div>

	<div>
		<label>Bonds</label>
		<p>{{ personality.bonds }}</p>
	</div>

	<div>
		<label>Flaws</label>
		<p>{{ personality.flaws }}</p>
	</div>

	<button (click)="edit()">Edit</button>
</div>

<form *ngIf="isEditing" (submit)="save()">
	<h2>Edit Personality</h2>
	<div>
		<label for="traits">Personality traits</label>
		<textarea id="traits" [(ngModel)]="editPersonality.traits"></textarea>
	</div>

	<div>
		<label for="ideals">Ideals</label>
		<textarea id="ideals" [(ngModel)]="editPersonality.ideals"></textarea>
	</div>

	<div>
		<label for="bonds">Bonds</label>
		<textarea id="bonds" [(ngModel)]="editPersonality.bonds"></textarea>
	</div>

	<div>
		<label for="flaws">Flaws</label>
		<textarea id="flaws" [(ngModel)]="editPersonality.flaws"></textarea>
	</div>

	<a href="javascript:void(0)" (click)="cancel()">Cancel</a> <button type="submit">Save</button>
</form>