<div [hidden]="wallet">Loading Wallet...</div>
<div *ngIf="wallet">
	<h2>Wallet</h2>
	<style>
		.wallet {
			border: 1px solid #666;
		}
		.wallet th, .wallet td {
			min-width: 50px;
			text-align: center;
		}
	</style>
	<table class="wallet">
		<thead>
		<tr>
			<th>PP</th>
			<th>GP</th>
			<th>EP</th>
			<th>SP</th>
			<th>CP</th>
		</tr>
		<tr>
			<td>{{ wallet.platinum }}</td>
			<td>{{ wallet.gold }}</td>
			<td>{{ wallet.electrum }}</td>
			<td>{{ wallet.silver}}</td>
			<td>{{ wallet.copper }}</td>
		</tr>
		</thead>
	</table>
</div>
