<h2>Shop</h2>
<table>
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Cost
			</th>
			<th>
				Weight
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<template ngFor #item [ngForOf]="items">
			<tr>
				<td>{{ item.name }}</td>
				<td>{{ item.cost | currency }}</td>
				<td>{{ item.weight | weight }}</td>
				<td>
					<shop-item-actions [item]="item"></shop-item-actions>
				</td>
			</tr>
			<tr *ngIf="item.description">
				<td colspan="4">
					{{ item.description }}
				</td>
			</tr>
		</template>
	</tbody>
</table>