<h2>Shop</h2>
<wallet></wallet>
<table width="100%">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Cost
			</th>
			<th>
				Weight
			</th>
		</tr>
	</thead>
	<tbody>
		<template ngFor #item [ngForOf]="items">
			<tr>
				<td><a (click)="toggleExpand(item)" href="javascript:void(0)">{{ item.name }}</a>
					<a href="javascript:void(0)" (click)="toggleExpand(item)" *ngIf="item.description">({{ isExpanded(item) ? '-' : '+' }})</a></td>
				<td><amount [value]="item.cost"></amount></td>
				<td>{{ item.weight | weight }}</td>
			</tr>
			<tr *ngIf="item.description && isExpanded(item)">
				<td colspan="3">
					{{ item.description }}
				</td>
			</tr>
			<tr *ngIf="isExpanded(item)">
				<td colspan="3">
					<shop-item-actions [item]="item" [wallet]="wallet"></shop-item-actions>
				</td>
			</tr>
		</template>
	</tbody>
</table>
