<h2>Shop</h2>
<wallet></wallet>
<table width="100%">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Cost
			</th>
			<th>
				Weight
			</th>
		</tr>
	</thead>
	<tbody>
		<template ngFor #item [ngForOf]="items">
			<tr>
				<td><a (click)="select(item)" href="javascript:void(0)">{{ item.name }}</a>
					<a href="javascript:void(0)" (click)="isExpanded=!isExpanded" *ngIf="item.description">({{ isExpanded ? '-' : '+' }})</a></td>
				<td><amount [value]="item.cost"></amount></td>
				<td>{{ item.weight | weight }}</td>
			</tr>
			<tr *ngIf="item.description && isExpanded">
				<td colspan="3">
					{{ item.description }}
				</td>
			</tr>
		</template>
	</tbody>
</table>
<div *ngIf="itemToBuy">
	<h3>{{ itemToBuy.name }}</h3>
	<shop-item-actions [item]="itemToBuy"></shop-item-actions>
	<a (click)="deselect()" href="javascript:void(0)">Cancel</a>
</div>
