<main class="character-sheet">
  <h1>Character Sheet</h1>
  <cs-section name="Character">
    <cs-character
      [character]="character"
      [stats]="stats"
    ></cs-character>
  </cs-section>
  <cs-section name="Abilities"></cs-section>
  <cs-section name="Skills & Proficiencies"></cs-section>
  <cs-section name="Combat"></cs-section>
  <cs-section name="Weapons"></cs-section>
  <cs-section name="Inventory"></cs-section>
  <cs-section name="Personality"></cs-section>
  <cs-section name="Features & Traits"></cs-section>
</main>
