<div>
  <label>Character Name</label>
  <p>{{ character.name }}</p>
</div>
<div>
  <label>Class</label>
  <p>{{ character.className }}</p>
</div>
<div>
  <label>Level</label>
  <p>{{ stats.level }}</p>
</div>
<div>
  <label>Background</label>
  <p>{{ character.background }}</p>
</div>
<div>
  <label>Player Name</label>
  <p>{{ character.playerName }}</p>
</div>
<div>
  <label>Race</label>
  <p>{{ character.race }}</p>
</div>
<div>
  <label>Alignment</label>
  <p>{{ character.alignmentName }}</p>
</div>
