<h2>Abilities</h2>
<div *ngIf="abilities">
	<div *ngFor="#ability of abilities">
		<label>{{ ability.name }}</label>
		<span>{{ ability.value }}</span>
		<span>({{ ability.modifier | modifier }})</span>
		<ul style="padding-left: 2rem; font-size: 0.9rem;">
			<li><input type="checkbox" [ngModel]="ability.savingThrows.isProficient" disabled />
				Saving Throws {{ ability.savingThrows.modifier | modifier }}</li>
			<li *ngFor="#skill of skills[ability.name]">
				<input type="checkbox" [ngModel]="skill.isProficient" disabled />
				<span>{{ skill.name }} {{ skill.modifier | modifier }}</span>
			</li>
		</ul>
	</div>
	<button type="button" (click)="edit()">Edit</button>
</div>
