<h2>Character Details</h2>
<div *ngIf="!character">Loading character...</div>
<div *ngIf="character">
	<div>
		<label>Character Name</label>
		<p>{{ character.name }}</p>
	</div>
	<div>
		<label>Class</label>
		<p>{{ character.className }}</p>
	</div>
	<div>
		<label>Level</label>
		<p>{{ stats.level }}</p>
	</div>
	<div>
		<label>Background</label>
		<p>{{ character.background }}</p>
	</div>
	<div>
		<label>Player Name</label>
		<p>{{ character.playerName }}</p>
	</div>
	<div>
		<label>Race</label>
		<p>{{ character.race }}</p>
	</div>
	<div>
		<label>Alignment</label>
		<p>{{ character.alignmentName }}</p>
	</div>
	<div>
		<label>Experience Points</label>
		<p>{{ stats.xp }} &mdash; <a href="javascript:void(0)" (click)="editXp()">edit</a></p>
	</div>
	<form *ngIf="isChangingXp" (submit)="submitXp()">
		<h2>Add XP</h2>
		<div>
			<label>Amount</label>
			<input [(ngModel)]="xpChange" type="number" step="1" />
		</div>
		<div>
			<label>Reason</label>
			<input [(ngModel)]="xpChangeReason" type="text" />
		</div>
		<button type="submit">Add</button>
		<a href="javascript:void(0)" (click)="cancel()">Cancel</a>
	</form>
	<button (click)="edit()">Edit</button>
</div>
