<form (ngSubmit)="save()" [ngFormModel]="characterForm">
	<div>
		<label for="name">Character Name</label>
		<input type="text" id="name" ngControl="name" />
	</div>
	<div>
		<label for="class">Class</label>
		<select id="class" ngControl="characterClass" required>
			<option value="" disabled>Select One</option>
			<option *ngFor="#class of classes; #id = index" [value]="id">{{class}}</option>
		</select>
	</div>
	<div>
		<label for="background">Background</label>
		<input type="text" id="background" ngControl="background" />
	</div>
	<div>
		<label for="playerName">Player Name</label>
		<input type="text" id="playerName" ngControl="playerName" />
	</div>
	<div>
		<label for="race">Race</label>
		<input type="text" id="race" ngControl="race" />
	</div>
	<div>
		<label for="alignment">Alignment</label>
		<select id="alignment" ngControl="alignment" required>
			<option value="" disabled>Select One</option>
			<option *ngFor="#alignment of alignments; #id = index" [value]="id">{{alignment}}</option>
		</select>
	</div>
	<a href="javascript:void(0)" (click)="cancel()">Cancel</a> <button type="submit">Save</button>
</form>