<div attr.data-inventory-id="{{ item.id }}">
	<span [hidden]="item.quantity <= 1">{{ item.quantity }}&times;</span><span>{{ item.name }}</span><a href="javascript:void(0)" (click)="toggle()">&hellip;</a>
	<div [hidden]="!isExpanded">
		<p *ngIf="item.description" style="font-style: italic">{{ item.description }}</p>
		<p>Cost: {{ item.cost | currency }}</p>
		<p>Weight: {{ item.weight | weight }}</p>
		<p *ngIf="item.modifications" style="font-style: italic">{{ item.modifications }}</p>
		<p>
			Remove: <input [(ngModel)]="removeCount" type="number" min="0" step="1" [max]="item.quantity" />
			<button (click)="removeItem()">Remove {{ removeCount || 1 }}</button>
			<button (click)="sellItem()">Sell</button>
			<br /><br />
		</p>
	</div>
</div>