<div>
  <label>Character Name</label>
  <p>{{ character.name }}</p>
</div>
<div>
  <label>Class</label>
  <p>{{ character.classLevel[0].characterClass }}</p>
</div>
<div>
  <label>Level</label>
  <p>{{ getLevel() }}</p>
</div>
<div>
  <label>Background</label>
  <p>{{ character.background }}</p>
</div>
<div>
  <label>Player Name</label>
  <p>{{ character.playerName }}</p>
</div>
<div>
  <label>Race</label>
  <p>{{ character.race }}</p>
</div>
<div>
  <label>Alignment</label>
  <p>{{ character.alignment }}</p>
</div>
